.nav-wrapper{
    background-color:rgb(170,0,44) ;
    font-size: 30;  
    font-family: 'Cousine', monospace;
}

#avatar{
    width: 120%;
}
#hd{
    margin-left: 2rem;
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e0e0e0;
    color: black;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
 }
 .logo{
     width: 3%;
     margin: 0.9%;
     

 }
 .title{
    color:rgb(170,0,44);
    font-family: 'Cousine', monospace; 
    
    
 }
#quots{
    font-family: 'Indie Flower', cursive;
    position: relative;
    right: -2rem;
    line-height: 1.9; 
    font-weight: bold;
}

#avatar{
    width: 120%;
    margin-left: -4rem;
    margin-top: 4rem;
}
.inf {
    font-family: 'Cuprum', sans-serif;
}
.logoHD{
    margin-bottom: -5rem;
    margin-left: -3rem;
}
#contact-form{
    border-right: 2px solid lightgrey;
}

.refs{
    font-family: 'Cuprum', sans-serif;
}
.carousel.carousel-slider .carousel-item p {
    font-size: 15px;
    
  }
.carousel .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -2;
  }
  .partnerships{
      margin-left: 3rem;
      width: 110%;
  }
  #prtnrsh-row{
    margin-left: 9%;
  }
 

@media screen and (max-width: 475px){
    #hd{
        font-size: 1rem;
    }
    #contact-form{
        border-right: 2px solid white;
        padding-bottom: 9px;
        border-bottom: 2px solid lightgray;
    }
    #avatar{
        margin-left: -1rem;
        width: 100%;
    }
    .carousel.carousel-slider .carousel-item p {
        font-size: 9px;
      }
     
    
}


@media screen and (max-width: 600px){
    .logoHD{
        margin-left: 0rem;
    }
    #contact-form{
        border-right: 2px solid white;
        padding-bottom: 9px;
        border-bottom: 2px solid lightgray;
    }
    .carousel.carousel-slider .carousel-item p {
        font-size: 10px;
        
      }
    
   
   

}

@media screen and (max-width: 446px){
    .carousel.carousel-slider .carousel-item p {
        font-size: 8px;
        
      }
      .carousel .indicators {
        position: relative;
        text-align: center;
        
        left: 0;
        right: 0;
        top: 8;       
      }
      .indicators{
        padding-top: 3.3rem;
      }
      
      #prtnrsh-row{
        margin-left: -5%;
      }
   
   
}


   
   