.nav-wrapper{
    background-color:rgb(170,0,44) ;
    font-size: 30;  
    font-family: 'Cousine', monospace;
}

#avatar{
    width: 120%;
}
#hd{
    margin-left: 2rem;
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e0e0e0;
    color: black;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
 }
 .logo{
     width: 6%;
     margin: 0.9%;
     

 }
 .title{
    color:rgb(170,0,44);
    font-family: 'Cousine', monospace; 
    
    
 }
#quots{
    font-family: 'Indie Flower', cursive;
    position: relative;
    right: -2rem;
    line-height: 1.9; 
    font-weight: bold;
}

#avatar{
    width: 120%;
    margin-left: -4rem;
    margin-top: 4rem;
}
.inf {
    font-family: 'Cuprum', sans-serif;
}
.logoHD{
    margin-bottom: -5rem;
    margin-left: -3rem;
}
#contact-form{
    border-right: 2px solid lightgrey;
}


@media screen and (max-width: 475px){
    #hd{
        font-size: 1rem;
    }
    #contact-form{
        border-right: 2px solid white;
        padding-bottom: 9px;
        border-bottom: 2px solid lightgray;
    }
    #avatar{
        margin-left: -1rem;
        width: 100%;
    }
}

@media screen and (max-width: 602px){
    .logoHD{
        margin-left: 0rem;
    }
}